body {
    font-family: 'Space Grotesk', sans-serif;
}

.top {
    width: 50%;
}

#logo {
    width: 30%;
    object-position: right;
    display: block;
    margin: 2%;
}
.top2 {
    display: flex;
    background-color: #34363c;
}
.hello {
    color: white;
    margin: 2%;
    background-position: center;
    display: flex;
    font-size: 200%;
}
#gifhello {
    width: 300%;
    display: flex;
}
.backgoundright {
    display: flex;
    justify-content: flex-end;
}
#background {
    width: 50%;
}
.top3 {
    display: flex;
}
img#vocal {
    width: 250%;    
}

.top10 {
    display: flex;
}
.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
h3 {
    font-size: 300%;
}

p {
    font-size: 180%;
}